<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>註冊</title>
</head>
<body>
    <form method="post">
        名稱：<input type="text" name="name"><br>
        年齡：<input type="text" name="age"><br>
        愛好：
        吃 <input type="checkbox" name="hobby" value="吃">
        喝 <input type="checkbox" name="hobby" value="喝">
        玩 <input type="checkbox" name="hobby" value="玩">
        樂 <input type="checkbox" name="hobby" value="樂"><br>
        <input type="submit" value="提交">
    </form>
</body>
</html>